TELEGRAM_API_ID=your_api_id
TELEGRAM_API_HASH=your_api_hash
TELEGRAM_STRING_SESSION="1A...very_long_string...="

MCP_TELEGRAM_PARSER_HOST=0.0.0.0
MCP_TELEGRAM_PARSER_PORT=8012
MCP_TELEGRAM_PARSER_LOG_LEVEL=INFO
MCP_TELEGRAM_PARSER_RELOAD=false


